/client/elm-stuff/*
/server/dist/*
/docker-client/html/*
/docker-server/_server
/docker-server/_droidstar-debug.apk
/client/index.html
/droidstar
/server/cabal-shell.nix
/server/results
/server/res
/*.apk
/docker-server/_apks
